<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<h1>Perguntas</h1>

<a href="/pergunta/nova" class="btn">Nova Pergunta</a>

<ul>
    <% perguntas.forEach(p => { %>
        <li>
            <strong><%= p.titulo %></strong><br>
            <%= p.descricao %>
        </li>
    <% }) %>
</ul>

<h2>Perguntas Recentes</h2>

<ul>
    <% perguntas.forEach((p) => { %>
        <li>
            <a href="/pergunta/<%= p.id %>">
                <strong><%= p.titulo %></strong>
            </a>
            <br>
            <small><%= p.descricao.substring(0, 60) %>...</small>
        </li>
    <% }) %>
</ul>


<%- include("../partials/footer") %>
